@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-200;
  }
}

@layer components {
  .tech-font {
    font-family: 'Share Tech Mono', monospace;
  }
}
